<!DOCTYPE html>

<html>
    <head>
        <title>Welcome</title>
    </head>

    <body>
        <h1 style="...">ADD NEW ORDER</h1>

        <form action="/order" method="POST">
            <label for="ref_no">Reference Number:</label>
            <br>
            <input type="text" id="ref_no" name="ref_no">
            <br>
            <label for="cust_name">Customer Name:</label>
            <br>
            <input type="text" id="cust_name" name="cust_name">
            <br>
            <label for="date">Date:</label>
            <br>
            <input type="text" id="date" name="date">
            <br>
            <br>
            <input type="submit" value="Submit">
        </form>
    </body>
</html>